<aside class="sidebar-wrapper">
    <div class="sidebar-header p-3 text-center">
        <h5>{{ system_name }}</h5>
    </div>

    <ul class="nav flex-column sidebar-menu">
        {% include 'components/_sidebar_common.html' %}

        {% if current_user.role.name == 'EMPLOYEE' %}
            {% include 'components/_sidebar_employee.html' %}
        {% endif %}

        {% if current_user.role.name == 'MANAGER' %}
            {% include 'components/_sidebar_manager.html' %}
        {% endif %}

        {% if current_user.role.name in ['ADMIN', 'HR'] %}
            {% include 'components/_sidebar_hr_admin.html' %}
        {% endif %}
    </ul>
    
    <div class="sidebar-footer p-3">
        <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-danger w-100">Đăng xuất</a>
    </div>
</aside>