<li class="nav-item">
    <a class="nav-link" href="{{ url_for('history.get_audit_logs') }}">
        <i class="fas fa-shield-alt me-2"></i> Nhật ký hệ thống
    </a>
</li>

<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý Hợp đồng</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('contract.get_all_contracts') }}">
        <i class="fas fa-file-contract me-2"></i> Danh sách hợp đồng
    </a>
</li>

<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý nhân viên</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.get_employee_summary') }}">
        <i class="fas fa-file-contract me-2"></i> Danh sách nhân viên
    </a>
</li>
