<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản trị nhân sự</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('hr.get_all_employee_summary') }}">
        <i class="fas fa-chart-pie me-2"></i> Bảng điều khiển (Dashboard)
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('history.get_audit_logs') }}">
        <i class="fas fa-shield-alt me-2"></i> Nhật ký hệ thống
    </a>
</li>

<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý Hợp đồng</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('contract.get_contracts') }}">
        <i class="fas fa-file-contract me-2"></i> Danh sách hợp đồng
    </a>
</li>