<li class="nav-header text-uppercase text-muted px-3 mt-3">Nghỉ phép của tôi</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('leave.my_requests') }}">
        <i class="fas fa-history me-2"></i> Lịch sử nghỉ phép
    </a>
</li>


<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý Hợp đồng</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('contract.get_my_contract_detail') }}">
        <i class="fas fa-file-contract me-2"></i> Danh sách hợp đồng
    </a>
</li>

