<div class="modal fade">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h5>Khiếu nại phiếu lương</h5>
      </div>

      <div class="modal-body">

        <select class="form-control">
          <option>Sai công</option>
          <option>Sai lương</option>
          <option>Phụ cấp</option>
        </select>

        <textarea class="form-control mt-2"></textarea>

        <input type="file" class="form-control mt-2">

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary">Gửi</button>
      </div>

    </div>

  </div>
</div>