{% extends "layouts/base.html" %}

{% block content %}
<div class="container">

  <div class="row">

    <!-- LEFT -->
    <div class="col-md-4">
      <div class="card p-3 text-center">
        <img src="{{ employee.avatar }}" class="rounded-circle mx-auto" width="120">

        <h5 class="mt-2">{{ employee.full_name }}</h5>
        <div>{{ user.role.name }}</div>
        <div>{{ employee.email }}</div>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="col-md-8">

      <div class="card">
        <div class="card-body">

          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active">Thông tin</a></li>
            <li class="nav-item"><a class="nav-link">Công việc</a></li>
            <li class="nav-item"><a class="nav-link">Tài khoản</a></li>
          </ul>

          <div class="mt-3">
            <p>Họ tên: {{ employee.full_name }}</p>
            <p>SĐT: {{ employee.phone }}</p>
            <p>Địa chỉ: {{ employee.address }}</p>
            <p>Tuổi: {{ employee.age }}</p>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}