<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý Lương</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('payroll.complaint_form_page') }}">
        <i class="fas fa-exclamation-circle me-2"></i> Khiếu nại lương
    </a>
</li>


<li class="nav-header text-uppercase text-muted px-3 mt-3">Nghỉ phép của tôi</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('leave.my_requests') }}">
        <i class="fas fa-history me-2"></i> Lịch sử nghỉ phép
    </a>
</li>

