<!-- Mục cha có nút mở rộng -->
<li class="nav-item">
    <a class="nav-link d-flex justify-content-between align-items-center" 
       data-bs-toggle="collapse" 
       href="#payrollMenu" 
       role="button" 
       aria-expanded="false" 
       aria-controls="payrollMenu">
        <span><i class="fas fa-wallet me-2"></i> Quản lý Lương</span>
        <i class="fas fa-chevron-down small"></i>
    </a>
    <!-- Menu con thu gọn -->
    <div class="collapse" id="payrollMenu">
        <ul class="nav flex-column ms-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('payroll.finalize_page') }}">
                <i class="fas fa-shield-alt me-2"></i> CHỐT SỔ & DUYỆT LƯƠNG
            </a>
        </li>

         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('payroll.admin_policy_page') }}">
                <i class="fas fa-shield-alt me-2"></i> Cấu Hình Chính Sách Lương
            </a>
        </li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('history.get_audit_logs') }}">
        <i class="fas fa-shield-alt me-2"></i> Nhật ký hệ thống
    </a>
</li>

<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý Hợp đồng</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('contract.get_all_contracts') }}">
        <i class="fas fa-file-contract me-2"></i> Danh sách hợp đồng
    </a>
</li>

<li class="nav-header text-uppercase text-muted px-3 mt-3">Quản lý nhân viên</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.get_employee_summary') }}">
        <i class="fas fa-users me-2"></i> Danh sách nhân viên
    </a>
</li>


